services:
  postgres:
    container_name: ms_pg_sql
    image: postgres:16.5
    environment:
      POSTGRES_USER: isuru_kavi
      POSTGRES_PASSWORD: isuru_kavi
      PGDATA: /var/lib/postgresql/data #Sets where PostgreSQL stores its data inside the container
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4:7.8
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - 5050:80
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    container_name: ms_mongo_db
    image: mongo:6.0.7
    environment:
      - MONGO_INITDB_ROOT_USERNAME=isuru_kavi
      - MONGO_INITDB_ROOT_PASSWORD=isuru_kavi
    volumes:
      - mongo:/data/db
    ports:
      - 27017:27017
    restart: unless-stopped


  mongo-express:
    container_name: ms_mongo_express
    image: mongo-express:1.0.0
    restart: unless-stopped
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=isuru_kavi
      - ME_CONFIG_MONGODB_ADMINPASSWORD=isuru_kavi
      - ME_CONFIG_MONGODB_SERVER=mongodb

  mail-dev:
    container_name: ms_mail_dev
    image: maildev/maildev:1.1.0
    ports:
      - 1080:1080
      - 1025:1025
networks:
  microservices-net:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  mongo: